.news-items {
  margin: 10px 0;
}

#main_news_list .news-items {
  border: 1px solid gray;
  padding: 5px;
}

.highlight {
  color: red;
}

#main_news_list .news-items.highlight {
  background-color: green;
}
